@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
    @apply hover:shadow-3xl ;
    @apply hover:-translate-y-3 ;
    @apply hover:translate-x-3;
    @apply hover:duration-[400ms] hover:ease-out duration-[400ms];
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.my-font{
    font-family: 'IBM Plex Mono', monospace;
    font-size: bold;
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }